body {
  background-color: rgb(249, 249, 249);
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
    background: lightgrey;
    border: thin grey solid;
}


.content {
  margin: 1em;
}

.about {
  width: 50%;
}

.main-nav {
  a {
    padding: 0 .2em;
    margin-right: 1em;

    &:first-child {
      padding-left: 0;
    }
  }
}

.image-grid {
  display: grid;
  grid-template-columns: 250px 250px 250px 250px 250px 250px;
  grid-gap: 10px;
}

.grid-box {
  padding: .2em;

  p {
    margin: 0;
  }
}

pre {
  background: lightgrey;
  border: thin grey solid;
  border-radius: 2px;
  padding: .4em;
}

.pagination {
  margin-top: 1em;
}

.page-button, .current-page {
  margin: 0 .4em;
  padding: .6em;
}

.page-button {
  cursor: pointer;
}

.like-button {
  cursor: pointer;
  margin-left: 1em;
}

.favorites-only {
  display: block;
  margin-top: .5em;
}

@media(max-width: 1600px) {
  .image-grid {
    grid-template-columns: 250px 250px 250px 250px 250px;
  }
}

@media(max-width: 1330px) {
  .image-grid {
    grid-template-columns: 250px 250px 250px 250px;
  }
}

@media(max-width: 1080px) {
  .image-grid {
    grid-template-columns: 250px 250px 250px;
  }
}

@media(max-width: 800px) {
  .about {
    width: 100%;
  }

  .image-grid {
    grid-template-columns: 250px 250px;
  }
}
